<h4 style="text-align: center;">Morning</h4>
<p>Temperature: {{tempMorning}} °C</p>
<p>Perceived temperature: {{perceivedTempMorning}} °C</p>
<p>Wind: {{windMorning}} km/h</p>
<p>Chance of Rain: {{chanceOfRainMorning}} %</p>
<h4 style="text-align: center;">Afternoon </h4>
<p>Temperature: {{tempAfternoon}} °C</p>
<p>Perceived temperature: {{perceivedTempAfternoon}} °C</p>
<p>Wind: {{windAfternoon}} km/h</p>
<p>Chance of Rain: {{chanceOfRainAfternoon}} %</p>
<h4 style="text-align: center;">Evening</h4>
<p>Temperature: {{tempEvening}} °C</p>
<p>Perceived temperature: {{perceivedTempEvening}} °C</p>
<p>Wind: {{windEvening}} km/h</p>
<p>Chance of Rain: {{chanceOfRainEvening}} %</p>
<h4 style="text-align: center;">Night</h4>
<p>Temperature: {{tempNight}} °C</p>
<p>Perceived temperature: {{perceivedTempNight}} °C</p>
<p>Wind: {{windNight}} km/h</p>
<p>Chance of Rain: {{chanceOfRainNight}} %</p>
